@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

html {
  font-size: 16px
}
.filter {
  width: 22.5rem;
  height: 2rem;
  font-size: 1.6rem;
  font-family: 'Alegreya Sans', sans-serif;
  padding-left: .5rem;
}
